{% extends 'blog/base.html' %}

{% block content %}


<div class="blog-cocntinue container ">
    <div class='row'>
<div class="blog-left-side col col-sm-12 col-md-3 xs-12 col-3 mb-5">
   <div class="topic-cont">
   
    <h2> {{mytopic.course}}</h2>
        </div>


    </div>


        <div class="blog-main col col-sm-12 col-md-8 xs-12 col-8">
            <div class="post-head-continue2">
                <h1>{{mytopic.text}}</h1>
                <div>
                    <p class="date">{{user.username}}, posted on {{mytopic.date_of_entry|date:'M d, Y H:i'}}</p>
                </div>

            </div>
            <hr>
            {% if  mytopic.content == "True" %}

            {% else %}

             <div class="paragraph">
                <p>{{mytopic.content|safe}}</p>
                </div>



             {% endif %}

             {% if mytopic.code %}
             <pre>
                 <code class="python" id="code-block">
             {{mytopic.code|safe}}
             </code>
             </pre>
             {% endif %}

             {% if mytopic.image == 'True' %}
             
             {% elif not mytopic.image %}
             {% else %}
             <div class='code-image'>             
                <img src="{{ mytopic.image.url }}">
             </div>
             {% endif %}





  </div>

    </div>


{% endblock %}
