
{% load static %}

  <h3>
  Invest in these yourself </h3>
 


    <div class="card-container">
      <div class="card-items">
       <h2>Python</h2>
       <img src="{% static 'blog/images/download.jpeg' %}" alt="Python" class="card-image"  >
       
       <p> Are you ready to master Python? Learn the most versatile and powerful programming language that serves as a foundation for various applications.

       <button>Read Me</button></p>
      </div>
      <div class="card-items">
          <h2>Matplotlib</h2>
          <img src="{% static 'blog/images/mat.png' %}" alt="Matplotlib" class="card-image"  >
       
          <p>Enhance your data visualization skills with Matplotlib. Create visually stunning and informative plots and graphs to effectively communicate your data.


          <button>Read Me</button></p>
          
      </div>
       
      <div class="card-items">  
         <h2>Pandas</h2>
         
         <img src="{% static 'blog/images/pandas_logo.png' %}" alt="Pandas" class="card-image"  >
         <p>  Discover the power of Pandas, a Python library essential for efficient data manipulation and analysis. Unlock the potential of large datasets and maximize your data processing capabilities.
        <button>Read Me</button></p>
      </div>
  </div>
